body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 0;
}

canvas {
    border: 1px solid #ccc;
    max-width: 100%;
    display: block;
    margin: auto;
}

#container {
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
}

label {
    width: 200px;
    display: inline-block;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
select {
    padding: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100px;
}

select {
    width: 150px;
}

button {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

form div {
    min-height: 40px;
}

#errorContainer {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffe6e6;
}

#errorContainer:empty {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}